<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .center-heading {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <h1 class="center-heading">NLP - Sentiment Analysis using BERT</h1> 
            <div style="padding: 25px 25px 25px 25px;">
            <h2 class="mb-3">
                <form method="POST" action="/sentimentAnalyzer">
                    <div style="padding: 25px 25px 25px 25px;"></div><input type="text" name="text to analyze" required></div>
                    <div style="padding: 25px 25px 25px 25px;"><input type="submit" value="Run Sentiment Analysis"></div>
                </form>
            </h2>
        </div>
    </div>
</body>
</html>
